<div>
<div id="title">@label.title@<input type="text" id="title" name="title" value="@contact.getTitle*()*@"></div>
<div id="dob">@label.dob@ <input type="text" name="dob" size="10" value="@contact.getDOB*()*?Dlabel.dobformat@">@label.dobformat@</div>
</div>
<div style="text-align:right" onclick="newAddr()">@commonlabel.new@ @label.address@</div>
<table name="add" id="addr" width="100%">
  <tr>
  <th>X</th>
  <th>@label.name@</th>
     <th>@label.address@</th>
     <th>@commonlabel.map@</th>
     </tr>
   @address(<tr> 
   <td><input type="checkbox" name="address@index@mark" /></td>
   <td >@element.getDescription*()*@</td>
   <td onclick="editAddr('@^element.getDescription*()*@', '@^element.getFormated*()*@', @index@)"><pre>@element.getFormated*()*@</pre></td>
   <td align="right"><a target="_blank" href="https://maps.google.com/?q=@:element.street@,@:element.city@,@element.state@,@element.zip@">@commonlabel.map@</a></td>
   </tr>)@ 
</table>

<div id="edit_addr" class="edit_box" style="display:none">
  <div class="close_corn" onclick="closeEdit()">@commonlabel.close@</div>
  <div>@label.description@<br/>
  <input type="text" name="addressdescription" value=""></div>
  <div>@label.description@<br/>
  <textarea name="addressvalue"  rows="5" style="width:100%"></textarea></div>
  <input type="hidden" name="addressindex" value="">
  <div onclick="document.contactview['submit.y'].click()">@commonlabel.apply@</div>

</div>

<script>
   function editAddr(d,a,i) {
	   document.contactview.addressdescription.value=d;
	   document.contactview.addressvalue.value=a;
	   document.contactview.addressindex.value=i
	   getElement('edit_addr').style.display='';
   }
   function newAddr() {
	   editAddr('', 'Street\nCity, State Zip')
   }
   function closeEdit() {
	   getElement('edit_addr').style.display='none';
   }
</script>