<!DOCTYPE html>
<html>

@%'mobile/head.htm'@
<script>
   function openMenu() {
	   getElement('menu').style.display = '';
   }
   function closeMenu() {
	   getElement('menu').style.display = 'none';
   }
   function openTab(tab) {
	  // alert('open tab '+tab+document.contactview.beforename.value)
	// if a new contact then sve first in background
	   if (document.contactview.beforename.value == '') {
		   if (document.contactview.name.value == '') {
			   alert('Specify a contact name first')
			   return
		   }
		  // alert('submiting for '+ document.forms.contactview.name.value+' form '+document.contactview)
		   // submit with redirection to Contactview?name=@:name@&hash=@contact.hashCode*()*@&folder=@:folder@&tab='+tab
				   document.contactview.tab.value=tab
				   //document.contactview['submit.x'].value='1'
				   document.contactview.submit()
				   return
	   }
	     window.location = 'Contactview?name=@:name@&hash=@contact.hashCode*()*@&folder=@:folder@&tab='+tab
   }
</script>
<form name="contactview" action="Contactview" method="post">
<div><a href="Abfrontview?nodeid=@:folder@">@folder@</a></div>
<div>@label.name@</div>
<div><input type="text" name="name" value="@name@" size="32"></div>
<div onclick="openMenu()" style="color:white;background:green;width:7em;margin-top:1em;margin-bottom:0.5em">@commonlabel.menu@</div>
<div id="menu" style="display:none; border:1px solid black;">
 <div onclick="closeMenu()" style="text-align:right">@commonlabel.close@</div>
  @tab(<div style="padding-top:0.5em;padding-left:1em"><a href="javascript:void(0)" onclick="openTab('@element@')">@request.getAttribute*(LABEL)*.getString*(@element@)*@</a></div>)@
</div>

@%modeview@

<input type="hidden" name="beforename" value="@contact.getName*()*.getLast*()*@">
<input type="hidden" name="hash" value="@contact.getName*()*.hashCode*()*@">
<input type="hidden" name="folder" value="@folder@">
<input type="hidden" name="tab" value="">
<input type="hidden" name="submit.x" value="1">
<div><input type="submit" name="submit.y" value="@commonlabel.save@"></input>
</div>
</form>
@%'mobile/foot.htm'@
</html>