<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

@%'mobile/head.htm'@
<script>
 function createFolder() {
	 // TODO Add escaping for new folder name
	 makeGenericAjaxCall("Abfrontview/ajax/TreeChange", 'nodeid=@:element@&newnode='+document.querySelector('input').value+'&mode=Add', true, function(html) {
		 if (html) {
			 hideFolder()
			 window.location.reload()
		 } 
	 })
	 
	
 }
 function showFolder() {
	 getElement('folder_edit').style.display=''
 }
 function hideFolder() {
	 getElement('folder_edit').style.display='none'
 }
</script>
<table><tr>
    <td><div><a href="Foldernavigator?nodeid=@parent@">@parent{@""(@addressbook.VersionConstant.PROGRAMNAME@)@ @(@parent@)@}@</a></div></td>
    <td><a href="javascript:void(0)" onclick="showFolder()">@commonlabel.new@</a></td>
  </tr></table>
  
 <div id="folder_edit" class="edit_box" style="display:none;width:90%">
  <div class="close_corn" onclick="hideFolder()">@commonlabel.close@</div>
  <div>@label.name@<br/>
  <input type="text" name="foldername" value=""></div>
  <div onclick="createFolder()">@commonlabel.apply@</div>
</div>

<div class="button-container hovers">
<table width="100%">
@folder(
  <tr>
    <td>
       <a href="Abfrontview?nodeid=@:element@" class="anchor button">@element@</a>
     </td>
    <td>
  	  <a href="Foldernavigator?nodeid=@:element@" class="anchor button">&gt;</a>
    </td>
  </tr>
)@
</table>
</div>
@%'mobile/foot.htm'@
</html>