<div style="text-align:right" onclick="newCert()">@commonlabel.new@ @label.cert@</div>
<table name="secret" id="secret" width="100%">
<tr>
  <th>X</th>
  <th>@label.description@</th>
  <th>@label.cert@</th>
  <th>&nbsp;</th>
</tr>
@pgp(
<tr>
  <td><input type="checkbox" name="pgp@index@mark"></td>
  <td>@element.getDescription*()*@</td>
  <td style="max-width: 192px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" onclick="editCert('@^element.getDescription*()*@', '@^element.getValue*()*@', @index@)">@.element.getValue*()*@</td>  
  <td align="right"><a target="_blank" href="@element.getNormalized*()*@">@commonlabel.done@</a></td>
</tr>
)@
</table>

<script>
   function newCert() {
	   
   }
   
   function editCert(des, name, index) {
	   
   }
</script>