<!--  $Id: account.htm,v 1.12 2013/06/04 08:08:10 cvs Exp $  -->
<script>
   var N = 0;
   @account(N++;)@
  function addAccntRow(name) {
     var et = document.getElementById(name);
     var nr = et.insertRow(et.rows.length-1);
     var i=0;
     var nc = nr.insertCell(i++);
     nc.innerHTML = '<input type="checkbox" name="'+name+N+'mark">';
     nc = nr.insertCell(i++);
     nc.innerHTML = '<input type="text" value="" name="'+name+N+'value">';
     nc = nr.insertCell(i++);
     nc.innerHTML = '<input type="text" value="" name="'+name+N+'description">';
     nc = nr.insertCell(i++);
     nc.innerHTML = '<input type="text" value="" name="'+name+N+'name">';
     nc = nr.insertCell(i++);
     nc.innerHTML = '<input type="password" value="" name="'+name+N+'password"><input type="hidden" name="enc'+name+N+'password" value=" ">';
     nc = nr.insertCell(i++);
     nc.innerHTML = '<input type="text" value="" name="'+name+N+'link">';
     N++;
  }

  function displayPassword(td,field,url,name,index) {
	  makeGenericAjaxCall('Contactview/ajax/getPassword', 'account='+encodeURIComponent(field)+'&accountlink='+encodeURIComponent(url)+
        '&hash=@contact.getName*()*.hashCode*()*@&name='+encodeURIComponent("@contact.getName*()*.getLast*()*@")+'&folder=@folder@&accountindex='+index, true,
        function(html) {
           td.innerHTML='<input type="text" autocomplete="off" value="'+html+'" name="'+name+'password"><input type="hidden" name="enc'+name+'password" value=" ">';
           td.onclick=null;
           td.firstChild.focus();
        });
  }
  
  function searchAccount(searchbox) {
	  const query = searchbox.value.toLowerCase()
	  const tab = document.querySelector('table#account')
	  var mark
		
		for (var i = 0, row; row = tab.rows[i]; i++) {
			mark = 0
			if (query)
		       for (var j = 0, col; col = row.cells[j]; j++) {
			       if (col.nodeName === 'TH')
	                   break
		           if (col.innerHTML.toLowerCase().includes(query)) {
	                      mark = 0
			              break
		           } else {
			          mark = 1
		           }
		       }  
	       if (mark)
	           row.style.display = 'none'
	       else
	          row.style.display = ''
	    }
	  
  }
</script>
<table id="account" name="account">
  <tr>
     <th>X</th>
     <th>@label.id@</th>
     <th>@label.description@</th>
     <th>@label.account@</th>
     <th>@label.password@</th>
     <th colspan="2">@label.access@</th>
  </tr>
  @account(
  <tr>
    <td><input type="checkbox" name="account@index@mark"></td>
    <td onclick="makeEditable(this, '@^element.getValue*()*@', 'account@index@value')" style="cursor: pointer">@element.getValue*()*@
        <input type="hidden" value="@element.getValue*()*@" name="account@index@value">
        <input type="hidden" value="@element.isHashed*()*@" name="account@index@hash"></td>
    <td onclick="makeEditable(this, '@^element.getDescription*()*@', 'account@index@description')" style="cursor: pointer">@element.getDescription*()*@<input type="hidden" name="account@index@description" value="@element.getDescription*()*@"></td>
    <td onclick="makeEditable(this, '@^element.getName*()*@', 'account@index@name')" style="cursor: pointer">@element.getName*()*@<input type="hidden" name="account@index@name" value="@element.getName*()*@"></td>
    <td onclick="displayPassword(this, '@^element.getValue*()*@', '@element.getLink*()*@', 'account@index@', @index@)" style="cursor: pointer">********<input type="hidden" name="encaccount@index@password" value="@request.getAttribute*(cipher)*.encrypt*(java.lang.String^@element.getPassword*()*@)*@"><input type="hidden" name="account@index@password" value=" "></td>
    <td>@element.getLink*()*{ @" "(&nbsp;)@ @(<a href="@element.getLink*()*@" target="_blank">@commonlabel.go@</a>)@ }@</td>
    <td onclick="makeEditable(this, '@^element.getLink*()*@', 'account@index@link')" style="cursor: pointer">@element.getLink*()*@<input type="hidden" name="account@index@link" value="@element.getLink*()*@"></td>
  </tr>
  )@
<tr>
  <td colspan="5">
    <table border="0">
      <tr>   
        <td><div class="b-button-g" onClick="addAccntRow('account')">@commonlabel.add@</div></td>
        <td><div class="b-button-g" onClick="deleteRows('account')">@commonlabel.delete@</div></td>
      </tr>
    </table>
  </td>
</tr>
</table>
